$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$body-font: "Helvetica Neue", Arial, sans-serif;

body {
    font-family: $body-font;
    padding: 0;
    &.accessopolis-bg {  background: url('../images/bg_1.jpg'); background-size: 140% auto;}
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.accessopolis-bg-white { background: rgba(255, 255, 255, .8); }

.accessopolis-navigation-bar-categories{
    width: 100%;
    background: rgba(255, 255, 255, .9);
    height: 100px;
    margin: 0px;
    overflow: hidden;
    li {
        float: left;
        text-align: center;
        min-width: 100px;
        height: 100px;
        overflow: hidden;
        border-left: 1px solid #ccc;
        .accessopolis-navigation-bar-category-icon {
            float: left; width: 100%; height: 50px; padding-top: 20px; line-height: 50px;
            span { font-size: 2em;}
        }
        .accessopolis-navigation-bar-category-label {
            float: left; width: 100%; height: 50px;line-height: 50px;
        }

        ul.accessopolis-navigation-bar-sub-category {
            position: absolute; width: 250px; margin-left: 5px; float: left; margin-top: 105px; background: #fff; list-style: none; border: 1px solid #ccc; padding: 0px;z-index:99;
            li { float:left; line-height: 60px; height: 60px; text-align: left;  width: 100%; clear: both;  border-bottom: 1px solid #ccc;
                .accessopolis-navigation-bar-sub-category-icon { float: left; width: 30px; height: 60px; padding-top: 8px; padding-left: 10px; line-height: 60px;
                    span { font-size: 2em;}
                }
                .accessopolis-navigation-bar-sub-category-label {
                    float: left; width: calc(100% - 50px); margin-left: 20px;  height: 60px; line-height: 65px;
                }
            }
        }
    }
}


.accessopolis-header {
        margin: 0px;
        padding: 0px;
        background: #fff;
        height: 70px;
        line-height: 70px;
        .accessopolis-header-content {
            width: 100%;
            .accessopolis-header-logo {
                font-size: 3em;
                line-height: 100%;
                font-weight: lighter;
            }
        }
}


.accessopolis-search {
    width: 100%;
    min-height: 400px;
    .accessopolis-search-field {
        width: 100%;
        margin-top: 8%;
        padding: 5px 30px 40px 30px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 3px;
        position:relative;
        .accessopolis-search-field-header {
            float: right;
            line-height: 30px;
            height: 40px;
            width:100%;
            color: #fff;
            text-shadow: 1px 1px 2px black;
        }
        .accessopolis-search-field-btn {
            float: right;
            margin-top: 3px;
        }
    }
    .accessopolis-search-result_list {
        width: 100%;
        margin-top: 10px;
        .accessopolis-search-result_list {
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

.accessopolis-location { width: 100%; height: 160px; padding: 5px; float: left; background: rgba(255, 255,255,.9);
        .accessopolis-location-icon {
            width: 150px;
            float: left;
            height: 150px;
            line-height: 150px;
            font-size: 2.5em;
            text-align: center;
            background: rgb(255,255,255);
            border: 1px solid #ccc;
            overflow: hidden;
        }
        .accessopolis-location-data {
            float: left;
            padding-left: 10px;
            width: calc(100% - 160px);
            height: 150px;
            .accessopolis-location-data-info {
                float: left;
                .accessopolis-location-rating-item {
                    float: left;
                    width: 50px;
                    height: 50px;
                    margin-left: 10px;
                    margin-right: 10px;
                    border-radius: 50%;
                    border: 5px solid red;
                    &:first-child {
                        margin-left: 0px;
                        background: green;
                    }
                }
            }
            .accessopolis-location-data-rating {
                float: right;
                background: rgba(255, 255, 255, 0.8);
                width: 180px;
                height: calc(100% - 25px);
                padding: 5px;
                margin-top: 10px;
                overflow: hidden;
                .accessopolis-rating-item {
                    width: 85px;
                    float: left;
                    height: 100%;
                    &:first-child {
                        border-right: 1px solid #000;
                    }
                    .accessopolis-rating-item-val {
                        float: left;
                        width: 100%;
                        vertical-align: middle;
                        padding-top: 10px;
                        height: 50%;
                        text-align: center;
                        font-size: 2em;
                    }
                    .accessopolis-rating-item-icon {
                        float: left;
                        width: 100%;
                        vertical-align: middle;
                        padding-top: 10px;
                        height: 50%;
                        text-align: center;
                        font-size: 2em;
                        margin-top: -10px;
                        .accessopolis-rating-item-icon-tooltip {
                            font-size: 0.5em;
                            margin-top: -4px
                        }
                    }
                }

            }

            .accessopolis-location-data-rating-small {
                float: left;
                width: 100%;
                height: calc(100% - 25px);
                overflow: hidden;
                margin-top: -10px;
                font-size: 0.8em;

                .accessopolis-rating-item {
                    padding-right: 10px;
                    padding-left: 10px;
                    float: left;
                    height: 40px;
                    line-height: 40px;
                    &:first-child {
                        border-right: 1px solid #000;
                        padding-left: 0px;
                    }
                    .accessopolis-rating-item-val {
                        float: left;
                        vertical-align: middle;
                        height: 100%;
                        text-align: left;
                        font-size: 1.6em;
                    }
                    .accessopolis-rating-item-icon {
                        float: left;
                        padding-left: 10px;
                        width: 40px;
                        vertical-align: middle;
                        height: 100%;
                        text-align: left;
                        font-size: 1.6em;

                    }
                }
            }
        }
}




input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border:1px solid #d9534f;
}

.accessopolis-badge {
    font-size: 1.5em;
    position:absolute;
    top:50px;
    right:50px;
    a, a:hover {
        color: #fff;
    }
}

.accessopolis-search-icon {
    position:absolute;
    top:48px;
    right:10px;
}

.accessopolis-search-box {
    position:relative;
}

.accessopolis-section-profile {
    padding-top: 10px;
    float: right;
    height: 40px;
    .accessopolis-section-profile-auth {
        float: left;
        height: 100%;
        width: 200px;
        .accessopolis-profile-avatar {
            width: 40px;
            height: 40px;
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            border: 2px solid #ccc;
            color: #ccc;
            font-size: 1.5em;
            float: left;
        }
        .accessopolis-profile-name {
            width: 150px;
            height: 40px;
            line-height: 35px;
            float: left;
            margin-left: 10px;
            cursor: pointer;
            a {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
        }
    }
}


.accessopolis-location-detail {
    border-top: 1px solid #f2f2f2;
    color: #fff;
    .accessopolis-location-detail-back {
        width: 100%;
        height: 15px;
        margin-top: 5px;
    }
    .accessopolis-location-detail-header {
        width: 100%;
        height: 100px;
        .accessopolis-location-detail-header-title {
            float: left;
            width: 60%;
            padding: 0px;
        }
        .accessopolis-location-detail-header-rating {
            float: right;
            width: 20%;
            height: 50px;
            margin-top: -10px;
            .accessopolis-rating-item {
                width: 85px;
                float: left;
                height: 100%;
                &:first-child {
                    border-right: 1px solid #000;
                }
                .accessopolis-rating-item-val {
                    float: left;
                    width: 100%;
                    vertical-align: middle;
                    padding-top: 10px;
                    height: 50%;
                    text-align: center;
                    font-size: 2em;
                }
                .accessopolis-rating-item-icon {
                    float: left;
                    width: 100%;
                    vertical-align: middle;
                    padding-top: 10px;
                    height: 50%;
                    text-align: center;
                    font-size: 2em;
                    margin-top: -10px;
                    .accessopolis-rating-item-icon-tooltip {
                        font-size: 0.5em;
                        margin-top: -4px
                    }
                }
            }
        }

        .accessopolis-location-detail-header-rating-small {
            float: right;
            height: 100px;
            overflow: hidden;
            .accessopolis-rating-item {
                padding:0px 10px;
                float: left;
                clear: both;
                height: 50px;
                line-height: 50px;
                &:first-child {
                    border-bottom: 1px solid #fff;
                }
                .accessopolis-rating-item-val {
                    float: left;
                    vertical-align: middle;
                    height: 100%;
                    font-size: 1.6em;
                }
                .accessopolis-rating-item-icon {
                    float: left;
                    margin-left: 10px;
                    vertical-align: middle;
                    height: 100%;
                    text-align: center;
                    font-size: 1.6em;
                    .accessopolis-rating-item-icon-tooltip {
                       display: none;
                    }
                }
            }
        }
    }
}


.accessopolis-location-detail-content {
    padding: 0px;
    .accessopolis-location-detail-content-rating-evaluation {
        height: 400px;
        margin-top: -1px;
        box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 1);
        padding: 5px;
        .accessopolis-location-detail-content-rating-evaluation-title {
            line-height: 20px;
            font-size: 1.5em;
            padding: 0px;
        }
    }
    .accessopolis-location-detail-content-slide {
        height: 400px;
        margin-top: -1px;
        box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 1);
        padding: 0px;
        .accessopolis-location-detail-content-slide-main {
            height: 400px;
            overflow: auto;

            margin: 0px;
            padding: 0px !important;
            .accessopolis-location-detail-content-slide-main-content {
                width: 100%;
                height: 100%;
                background: #93999a;
                line-height: 380px;
                text-align: center;
                font-size: 5em;
                margin: 5px !important;

            }
        }
        .accessopolis-location-detail-content-slide-nav {
            height: 400px;
            overflow: auto;

            padding: 0px !important;

            .accessopolis-location-detail-content-slide-nav-item {
                height: 150px;
                line-height: 150px;
                text-align: center;
                font-size: 3em;
                background: #93999a;
                margin: 5px !important;
                padding: 0px !important;
                .accessopolis-location-map {
                    width:100%;
                    height: 100%;
                    float:left;
                    display:block;
                }
            }
        }
    }
}


.accessopolis-ratings-item {
    width: calc(50% - 10px);
    float: left;
    margin: 5px;
    margin-bottom: 10px;
    .accessopolis-ratings-item-val {
        width: 100px;
        margin: 0 auto;
        height: 100px;
        text-align: center;
        line-height: 80px;
        font-size: 2.5em;
        border: 8px solid #93999a;
        border-radius: 50%;
    }
    .accessopolis-ratings-item-label {
        width: 100%;
        margin-top: 5px;
        height: 20px;
        line-height: 20px;
        text-align: center;
    }

}
