
<div class="navbar navbar-inverse accessopolis-navigation-menu" >
    <div class="navbar-header">

        <button ng-hide-auth="" data-ng-controller="LoginCtrl"      class="btn btn-primary pull-right navbar-btn accessopolis-navigation-menu-btn"  ng-click="oauthLogin('google')" ><span class="fa fa-sign-in"></span>

        </button>
        <button ng-show-auth=""  data-ng-controller="AccountCtrl"    role="button" ng-click="logout()" class="btn btn-danger navbar-btn pull-right accessopolis-navigation-menu-btn">
            <span class="fa fa-sign-out"></span>
        </button>

        <button type="button" class="navbar-toggle collapsed accessopolis-navigation-menu-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand  "  href="#/" style="white-space: nowrap; color: #fff; font-size: 2em; font-weight: lighter; margin-top:10px;">Accessopolis   <sup >beta</sup></a>

    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="item in ctrlNavMenu.items"  class="dropdown" style="border-bottom: 1px solid #f2f2f2; border-top:1px solid #fff;">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="height: 80px; line-height: 60px; font-size: 1.5em;">
                    <span class="fa fa-camera"
                          ng-class="{'fa-train': item.text == 'public-transport',
                             'fa-suitcase ': item.text == 'holidays',
                             'fa-cutlery': item.text == 'food',
                             'fa-magic': item.text == 'religion',
                             'fa-soccer-ball-o': item.text == 'sport',
                             'fa-book': item.text == 'culture'}"></span>&nbsp;&nbsp;
                    {{item.text | translate}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="background: #373636;">
                    <li data-ng-repeat="child in item.subcategory"
                        data-ng-click="ctrlNavMenu.showLocations(child, $event, true); " style="border-top: 1px solid #ccc; ">
                        <a href="" style="height: 60px; line-height: 50px; font-size: 1.2em">
                            <span class="fa fa-camera"
                                  ng-class="{'fa-train': item.text == 'public-transport',
                             'fa-suitcase ': item.text == 'holidays',
                             'fa-cutlery': item.text == 'food',
                             'fa-magic': item.text == 'religion',
                             'fa-soccer-ball-o': item.text == 'sport',
                             'fa-book': item.text == 'culture'}"></span>&nbsp;&nbsp;
                            {{child | translate}}</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div><!--/.nav-collapse -->
</div>
