
<h2>Category</h2>

<form>
  <input placeholder="Category..." ng-model="newCategory.text">
  <button type="submit" ng-click="addCategory(newCategory);newCategory = null;">send</button>
</form>

<ul id="categories" ng-show="categories.length">
  <li ng-repeat="category in categories | reverse">{{category.text}}
  <ul>
    <li ng-repeat="subcat in category.subcategory">{{subcat}}</li>
    <input type="text"  ng-model="newSubcategory"/><a ng-click="addSubcategory(category, newSubcategory)"><span class="fa fa-plus-circle"/> </a>
   </ul>
  </li>


</ul>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
