
.accessopolis-bg-white { background: rgba(255, 255, 255, .8) !important; }
.accessopolis-bg-blue { background: rgba(240, 240, 240, .8); }

.accessopolis-navigation-bar-categories {
    width: 100%;
    background: rgba(255, 255, 255, .9);
    height: 100px;
    margin: 0px;
    overflow: hidden;
    li {
        float: left;
        text-align: center;

        height: 100px;
        overflow: hidden;
        border-left: 1px solid #ccc;
        &.accessopolis-navigation-bar-categories-item-evidence {
            background: $link-color !important;
            color: #fff;
        }

        .accessopolis-navigation-bar-category-icon {
            float: left;
            width: 100%;
            height: 50px;
            padding-top: 20px;
            line-height: 50px;
            span {
                font-size: 2em;
                bottom: 2px solid $link-color;
            }
        }
        .accessopolis-navigation-bar-category-icon-small {
            float: left;
            width: 100%;
            height: 100px;
            line-height: 100px;
            span {
                font-size: 2em;
            }
        }
        .accessopolis-navigation-bar-category-label {
            float: left;
            width: 100%;
            height: 50px;
            line-height: 50px;
        }

        ul.accessopolis-navigation-bar-sub-category {
            position: absolute;
            width: 250px;
            margin-left: 5px;
            float: left;
            margin-top: 105px;
            background: #fff;
            list-style: none;
            border: 1px solid #ccc;
            padding: 0px;
            z-index: 99;

            li {
                float: left;
                line-height: 60px;
                height: 60px;
                text-align: left;
                width: 100%;
                clear: both;
                border-bottom: 1px solid #ccc;
                color:#000 !important;
                .accessopolis-navigation-bar-sub-category-icon {
                    float: left;
                    width: 30px;
                    height: 60px;
                    padding-top: 8px;
                    padding-left: 10px;
                    line-height: 60px;
                    span {
                        font-size: 2em;
                    }
                }
                .accessopolis-navigation-bar-sub-category-label {
                    float: left;
                    width: calc(100% - 50px);
                    margin-left: 20px;
                    height: 60px;
                    line-height: 65px;
                }
            }
        }
    }
}


.accessopolis-header {
    margin: 0px;
    padding: 0px;
    background: #fff;
    height: 70px;
    line-height: 70px;
    border-bottom: 2px solid $link-color;
    .accessopolis-header-logo {
        white-space: nowrap;
        a {
            font-size: 3em;
            line-height: 100%;
            font-weight: lighter;
    }
        sup {
            background: $link-color;
            font-size: 1em;
            border-radius: 4px;
            color: #fff;
            padding: 5px;
            margin-left: -10px;
    }
}
}

.accessopolis-search {
    min-height: 400px;
    .accessopolis-search-field {
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 5%;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 3px;
        position: relative;
        .accessopolis-search-field-header {
            float: right;
            line-height: 30px;
            height: 40px;
            width: 100%;
            color: #fff;
            text-shadow: 1px 1px 2px black;
        }
        .accessopolis-search-field-btn {
            float: right;
            margin-top: 3px;
        }
    }
    .accessopolis-search-result_list {
        width: 100%;
        margin-top: 10px;
        .accessopolis-search-result_list {
            margin-bottom: 10px;
        }
    }
}

.accessopolis-location {
    height: 160px;
    background: rgba(255, 255, 255, .9);
    margin-bottom: 10px;
    padding: 5px;

    .accessopolis-location-icon {
        height: 150px;
        line-height: 150px;
        font-size: 2.5em;
        text-align: center;
        background: rgb(255, 255, 255);
        border: 1px solid #ccc;
        .accessopolis-location-icon-item {
            width: 100%;
            height: 100%;
            font-size: 4.8em;
            color: #d2d2d2;
            overflow: hidden;
        }
    }
    .accessopolis-location-icon-small {
        width: 100px;
        float: left;
        height: 150px;
        line-height: 150px;
        font-size: 2.5em;
        text-align: center;
        background: rgb(255, 255, 255);
        border: 1px solid #ccc;
        overflow: hidden;

            .accessopolis-location-icon-item {
                width: 100%;
                height: 100%;
                line-height: 150px;
                vertical-align: middle;
                font-size: 3em;
                color: #000;
                overflow: hidden;
            }

}
    .accessopolis-location-data {
        height: 150px;
        .accessopolis-location-data-info {

            .accessopolis-location-rating-item {
                float: left;
                width: 50px;
                height: 50px;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 50%;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }
        .accessopolis-location-data-rating {
            background: rgba(255, 255, 255, 0.8);
            height: 100%;
            padding: 0px;
            .accessopolis-rating-item {
                width: 50%;
                float: left;
                height: 100%;
                padding: 0px;
                &:first-child {
                    border-right: 1px solid #000;
                }
                .accessopolis-rating-item-val {
                    float: left;
                    width: 100%;
                    vertical-align: middle;
                    padding-top: 10px;
                    height: 50%;
                    text-align: center;
                    font-size: 2em;

                }
                .accessopolis-rating-item-icon {
                    float: left;
                    width: 100%;
                    vertical-align: middle;
                    padding-top: 10px;
                    height: 50%;
                    text-align: center;
                    font-size: 2em;
                    margin-top: -10px;

                    .accessopolis-rating-item-icon-tooltip {
                        font-size: 0.5em;
                        margin-top: -4px
                    }
                }
            }

        }

        .accessopolis-location-data-rating-small {
            height: 50px;
            font-size: 0.8em;
            .accessopolis-rating-item {
                padding-right: 10px;
                padding-left: 10px;
                float: left;
                height: 40px;
                line-height: 40px;
                &:first-child {
                    border-right: 1px solid #000;
                    padding-left: 0px;
            }
                .accessopolis-rating-item-val {
                    float: left;
                    vertical-align: middle;
                    height: 100%;
                    text-align: left;
                    font-size: 1.6em;
            }
                .accessopolis-rating-item-icon {
                    float: left;
                    padding-left: 10px;
                    width: 40px;
                    vertical-align: middle;
                    height: 100%;
                    text-align: left;
                    font-size: 1.6em;

            }
        }
    }
}
}


input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border:1px solid #d9534f;
}

.accessopolis-badge {
    position: absolute;
    top: 10px;
    right: 50px;
    a, a:hover {
        color: #fff;
    }
    &.accessopolis-badge-lg{
        font-size: 1.5em;
    }
    &.accessopolis-badge-sm{
        font-size: 1em;
    }
}



.accessopolis-search-box {
    position:relative;
}



.accessopolis-profile {
    height: 40px;
    margin-top: 5px;
    width: 270px;
    white-space: nowrap;
    float: right;
    .accessopolis-profile-logout{
        width: 60px;
        float: right;
    }

    .accessopolis-profile-icon {
        width: 40px;
        float: left;
        margin-top: 5px;
        overflow: hidden;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 50%;
        background-size: cover;
    }
    .accessopolis-profile-name {
        float: left;
        width: 120px;

        text-overflow: ellipsis;
        margin-top: 5px;
        overflow: hidden;
        font-size: 1.2em;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        a {
            width: 100%;
            float: left;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}



.accessopolis-location-detail {
    border-top: 1px solid #f2f2f2;
    color: #fff;
    min-height: 180px;
    .accessopolis-location-detail-back {
        width: 100%;
        height: 15px;
        margin-top: 5px;
    }
    .accessopolis-location-detail-header {
        width: 100%;
        height: 100px;
        .accessopolis-location-detail-header-title {
            float: left;
            width: 60%;
            padding: 0px;
        }
        .accessopolis-location-detail-header-rating {
            float: right;
            width: 20%;
            height: 50px;
            margin-top: -10px;
            .accessopolis-rating-item {
                height: 100%;
                &:first-child {
                    border-right: 1px solid #000;
                }
                .accessopolis-rating-item-val {
                    float: left;
                    width: 100%;
                    vertical-align: middle;
                    padding-top: 10px;
                    height: 50%;
                    text-align: center;
                    font-size: 2em;
                }
                .accessopolis-rating-item-icon {
                    float: left;
                    width: 100%;
                    vertical-align: middle;
                    padding-top: 10px;
                    height: 50%;
                    text-align: center;
                    font-size: 2em;
                    margin-top: -10px;
                    .accessopolis-rating-item-icon-tooltip {
                        font-size: 0.5em;
                        margin-top: -4px
                    }
                }
            }
        }

        .accessopolis-location-detail-header-rating-small {
            float: right;
            height: 100px;
            overflow: hidden;
            color: #000;
            .accessopolis-rating-item {
                padding: 0px 10px;
                float: left;
                clear: both;
                height: 50px;
                line-height: 50px;
                &:first-child {
                    border-bottom: 1px solid #fff;
                }
                .accessopolis-rating-item-val {
                    float: left;
                    vertical-align: middle;
                    height: 100%;
                    font-size: 1.6em;
                }
                .accessopolis-rating-item-icon {
                    float: left;
                    margin-left: 10px;
                    vertical-align: middle;
                    height: 100%;
                    text-align: center;
                    font-size: 1.6em;
                    .accessopolis-rating-item-icon-tooltip {
                        display: none;
                    }
                }
            }
        }
    }
}


.accessopolis-location-detail-content {
    padding: 0px;
    .accessopolis-location-detail-content-rating-evaluation {
        height: 400px;
        margin-top: -1px;
        padding: 5px;
        .accessopolis-location-detail-content-rating-evaluation-title {
            line-height: 20px;
            font-size: 1.5em;
            padding: 0px;
    }
}
    .accessopolis-location-detail-content-slide {
        min-height: 400px;
        margin-top: -1px;
        padding: 0px;
        .accessopolis-location-detail-content-slide-main {
            min-height: 400px;
            overflow: auto;
            margin: 0px;
            padding: 0px !important;
            .accessopolis-location-detail-content-slide-main-content {
                width: 100%;
                height: 100%;
                min-height: 390px;
                max-height: 390px;
                overflow: hidden;
                background: #000;
                line-height: 380px;
                text-align: center;
                font-size: 5em;
                margin: 5px !important;
                box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.7);

        }
    }
        .accessopolis-location-detail-content-slide-nav {
            height: 400px;
            overflow: auto;

            padding: 0px !important;

            .accessopolis-location-detail-content-slide-nav-item {
                height: 150px;
                line-height: 150px;
                text-align: center;
                font-size: 3em;
                background: #93999a;
                margin: 5px !important;
                padding: 0px !important;
                box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.7);
                .accessopolis-location-map {
                    width:100%;
                    height: 100%;
                    float:left;
                    display:block;
            }
        }
    }
}
}


.accessopolis-ratings-item {
    width: calc(50% - 10px);
    float: left;
    margin: 5px;
    margin-bottom: 10px;
    .accessopolis-ratings-item-val {
        width: 100px;
        margin: 0 auto;
        height: 100px;
        text-align: center;
        line-height: 80px;
        font-size: 2.5em;
        border: 8px solid #93999a;
        border-radius: 50%;
}
    .accessopolis-ratings-item-label {
        width: 100%;
        margin-top: 5px;
        height: 20px;
        line-height: 20px;
        text-align: center;
}

}

.accessopolis-footer {
    min-height: 250px;
    /* border-top:2px solid $link-color; */
    border:none;
}


.accessopolis-navigation-menu {
    margin: 0px;
    padding: 0px;
    min-height: 70px;
    line-height: 70px;
    .accessopolis-navigation-menu-btn {
        margin-top: 11px; margin-right: 10px;
    }
    .accessopolis-navigation-menu-toggle {
        margin-top: 10px; border: 2px solid #fff;
    }
}




.container {

    @media (min-width: $screen-sm-max) {

        .accessopolis-search {
            min-height: 400px;
            margin: 0px;
            padding: 0px;

            .accessopolis-search-field {
                background: rgba(255, 255, 255, 0.6);
                border-radius: 3px;
                position: relative;
                .accessopolis-search-icon {
                    position: absolute;
                    top: 8px;
                    right: 10px;
                }

                .accessopolis-search-field-header {
                    float: right;
                    line-height: 30px;
                    height: 40px;
                    width: 100%;
                    color: #fff;
                    text-shadow: 1px 1px 2px black;
                }
                .accessopolis-search-field-btn {
                    float: right;
                    margin-top: 3px;
                }
            }
            .accessopolis-search-result_list {
                margin-top: 10px;
                .accessopolis-search-result_list-item {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .accessopolis-search-result_list-filter {
        background: #ccc;
        height: 40px;
        border-bottom: 1px solid #93999a;
        padding: 3px 0px;
        .accessopolis-search-result_list-filter-back {
            line-height: 30px;
            height: 30px;
            text-align: center;
            padding: 0px;
        }
        .accessopolis-search-result_list-filter-search {
            padding: 0px 5px 0px 5px;
            margin: 0px;
            .accessopolis-search-result_list-filter-search-icon {
                right: 15px;
                position: absolute;
                margin-top: -25px;
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        margin: 0px !important;
        padding: 8px 8px !important;
        width: 100% !important;

        .accessopolis-header {
            height: 1px;
        }

        .accessopolis-search {
            padding: 0px !important;
            margin: 0px !important;

            min-height: 400px;
            .accessopolis-search-field {
                margin: 0px;
                // background: rgb(255, 255, 255);
                border-radius: 0px;
                position: relative;
                .accessopolis-search-field-header {
                    float: right;
                    line-height: 30px;
                    height: 40px;
                    width: 100%;
                    color: #fff;
                    text-shadow: 1px 1px 2px black;
                    display: none;

                }
                .accessopolis-search-icon {
                    position: absolute;
                    top: 8px;
                    right: 10px;
                }

                .accessopolis-search-field-btn {
                    float: right;
                    margin-top: 3px;

                }
            }

            .accessopolis-search-result_list {

                margin: 0px !important;
                .accessopolis-search-result_list-item {
                    margin: 0px !important;
                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }

        }

    }
}

.top-buffer {
    margin-top: 20px;
}
