
<div  style="border-top: 1px solid #f2f2f2; width: 100%; color: #fff;">
    <div class="container">
        <div style="width: 100%; height: 15px; margin-top: 5px;  ">
            <a data-ng-click="ctrl.backToList()" class="btn btn-primary btn-xs" >
                <span class="fa fa-chevron-left"></span> back</a>
        </div>
        <div style="width: 100%; height: 100px">
            <div style="float:left; width:60%; padding: 0px; ">
                <h1>{{ctrl.detail.text}}</h1>
                <div><span class=""></span>{{ctrl.detail.address}}</div>
            </div>
            <div style="float:right; width:20%;height: 50px; margin-top: -10px;    ">
                <div data-ng-if="ctrl.detail" data-rating="ctrl.detail"></div>
            </div>
        </div>
    </div>
</div>


    <div class="container "  style="width: 100%; padding: 0px;   ">
        <div class="accessopolis-bg-white" style="width: 30%; float:left;  height: 400px;  margin-top: -1px;  box-shadow: -1px 1px 1px 0px rgba(0,0,0,1);  padding: 5px;">
                <h1 style="line-height: 20px; font-size: 1.5em; padding: 0px;">Valutazione disabilità</h1>


        </div>
        <div class="accessopolis-bg-white" style="width: calc(70% - 5px); float:right;  height: 400px;  margin-top: -1px;  box-shadow: -1px 1px 1px 0px rgba(0,0,0,1);">
            <div style="width: 70%; float:left;  height: 400px; overflow: auto; padding: 10px;">
                <div style="width: calc(100% - 10px); height: calc(100% - 10px); background: #93999a; line-height: 380px; text-align: center; margin: 5px;  font-size: 5em; ">
                    <span class="fa fa-youtube-play"></span>
                </div>
            </div>
            <div  style="width: 30%; float:right; height: 400px; overflow: auto;  ">
                <div style="float: left; width: calc(100% - 10px); height: 150px; line-height: 150px; text-align: center; font-size: 3em; background: #93999a; margin: 5px;">
                    <span class="fa fa-map-marker"></span>
                </div>
                <div style="float: left; width: calc(100% - 10px); height: 150px; line-height: 150px; text-align: center; font-size: 3em; background: #93999a; margin: 5px;">
                    <span class="fa fa-camera"></span>
                </div>
                <div style="float: left; width: calc(100% - 10px); height: 150px; line-height: 150px; text-align: center; font-size: 3em; background: #93999a; margin: 5px;">
                    <span class="fa fa-youtube-play"></span>
                </div>

            </div>


        </div>


    </div>
<div class="accessopolis-bg-white" style="border-top: 1px solid #f2f2f2; height: 300px; width: 100%; margin-top: -8px;"></div>

</div>
