
<div class="accessopolis-location-detail col-xs-12" style="background: #000 !important;"  >
    <div class="container accessopolis-location-detail-header-wrap">
        <div class="accessopolis-location-detail-back col-md-12 col-sm-12 col-xs-12" >
            <a data-ng-click="ctrl.backToList()" class="btn btn-primary btn-xs" >
                <span class="fa fa-chevron-left"></span> <span data-translate>accessopolis.back-to-list</span></a>
            <a data-ng-click="ctrl.edit()" class="btn btn-primary btn-xs" ng-show-auth>
                <span class="fa fa-edit"></span> <span data-translate>accessopolis.edit-location</span></a>
        </div>

        <div class="accessopolis-location-detail-header col-md-12 col-sm-12 col-xs-12">

            <div class="accessopolis-location-detail-header-title col-md-8 col-sm-8 col-xs-8">
                <h1>{{ctrl.detail.text}}</h1>
                <div><span class=""></span>{{ctrl.detail.address}}</div>
                <div data-ng-if="ctrl.detail.website"><a ng-href="{{ctrl.detail.website}}" target="_blank">{{ctrl.detail.website}}</a></div>
            </div>

            <div class=" hidden-xs hidden-sm accessopolis-location-detail-header-rating  col-md-4 col-sm-4 col-xs-4">

                <div data-ng-if="ctrl.detail" data-acc-rating="ctrl.detail" class="col-md-12 col-sm-12 col-xs-12"></div>
                    <div ng-show-auth="" class="col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" data-ng-show="!voting" data-ng-click="voting = !voting"  style="margin-top: 5px; margin-left: 25px;" >Dai il tuo voto</button>
                        <div style="float: left; width: 150px; margin-top: 5px; margin-left: 20px;" data-ng-show="voting">
                            <input type="number"  min="1" max="10" class="form-control" ng-model="ctrl.vote"  style="height: 30px; float: left; width: 80px; font-size: 1em; color: #000;" />
                            <button data-ng-if="!ctrl.rateFeedback" ng-click="ctrl.rate()" class="btn btn-primary" style="width: 50px; height: 30px; line-height: 18px; float: left;" >Vota</button>
                            <div ng-if="ctrl.rateFeedback" class="accessopolis-bg-white" style="width: 50px; border-radius: 50%; margin-left: 4px; text-align: center; height: 30px; line-height: 18px; float: left;">
                                <span class="fa fa-check" style="font-size: 2em; color: green;"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="visible-xs visible-sm accessopolis-location-detail-header-rating-small accessopolis-bg-white" >
                    <div data-ng-if="ctrl.detail" data-acc-rating="ctrl.detail"></div>
                </div>
        </div>
    </div>
</div>

<div class="col-xs-12"   >
    <div class="container accessopolis-location-detail-content" >

            <div class="accessopolis-bg-white col-md-12 col-sm-12 col-xs-12 accessopolis-location-detail-content-slide"  >
                    <div class="accessopolis-location-detail-content-slide-main col-xs-12 col-md-8 col-sm-8" >
                        <div class="accessopolis-location-detail-content-slide-main-content" data-location-video="ctrl.locationVideo">

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="height: 120px; background: rgba(0,0,0,.5); margin-top: -120px; position: absolute; overflow: scroll; white-space: nowrap;">
                            <ul class="list-inline" >
                                <li ng-show-auth >
                                    <button ng-click="ctrl.addNewVideo()" ng-if="!ctrl.showAddVideo" class="btn btn-primary" data-translate>accessopolis.insert.video</button>
                                </li>
                                <li data-ng-repeat="video in ctrl.videos" style="padding: 10px;">
                                    <div style="border: 2px solid #fff;">
                                        <a href="#" data-ng-click="ctrl.showVideo(video, $event)"><img data-ng-src="{{video.thumbnail}}"></a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class=" col-md-4 col-sm-4 col-xs-12 accessopolis-location-detail-content-slide-nav">

                        <div class=" col-md-12 col-sm-12  col-xs-12 accessopolis-location-detail-content-slide-nav-item ">
                            <div style="width: 100%; height: 100%; overflow: hidden;" data-image-map="ctrl.detail">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div style="width: 100%; height: 40px; text-align: left; font-size: 0.5em; padding-left: 3px; line-height: 40px; color: #fff; background: rgba(0, 0, 0, 0.7); position: absolute; margin-top: -40px;" >
                                Map
                            </div>
                        </div>

                        <div  class=" col-md-12 col-sm-12  col-xs-12 accessopolis-location-detail-content-slide-img " >
                            <div style="width: 100%; height: 100%; overflow: hidden;">
                                <span data-ng-if="ctrl.images.length ==0" class="fa fa-camera"></span>
                                <a data-ng-click="ctrl.openCarousel()" href="" ><img data-ng-src="{{ctrl.images[0].imageUrl | imgurThumbnail: 'm'}}"></a>
                            </div>

                            <div style="width: 100%; height: 40px; text-align: left; font-size: 0.5em; padding-left: 3px; line-height: 40px; color: #fff; background: rgba(0, 0, 0, 0.7); position: absolute; margin-top: -40px;" >
                                <span data-ng-if="ctrl.images.length >0">Photos ({{ctrl.images.length}})</span>
                                <button  ng-show-auth  class="btn btn-primary btn-xs pull-right" style="margin-top: 7px; margin-right: 15px;"  data-ng-click="ctrl.addNewImage()" >Add new photos</button>
                            </div>
                        </div>
                    </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 accessopolis-bg-white" style="min-height: 300px; padding-bottom: 50px; margin-bottom: 20px;  margin-top: 10px;">
                <h1>Commenti:</h1>
                <ul class="list-group col-md-12 col-sm-12 col-xs-12" >
                    <li class="list-group-item" ng-repeat="comment in ctrl.comments" style="float: left; width: 100%;" >
                        <div style="width: 50px; height: 50px; float: left; ">

                            <div style="float: left; width: 50px; height: 50px; background: #ccc; color:#fff; text-align: center; border-radius: 50%;  line-height: 50px;">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                        <div style="float: left; height: 50px; line-height: 50px; margin-left: 10px; ">{{comment.text}}</div>
                    </li>
                </ul>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Insert your comment..." ng-model="ctrl.newComment">
                        </div>
                        <button type="submit" ng-click="ctrl.addComment(ctrl.newComment); ctrl.newComment = null;" class="btn btn-sm btn-primary" data-translate>accessopolis.comment</button>
                    </form>
                </div>
            </div>

    </div>
</div>


