<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="accessopolisApp"  class="accessopolis-bg">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->


    <div class="header accessopolis-header" ng-cloak=""  >

        <div class="container">
            <div class="navbar-header accessopolis-header-content" ng-controller="AppCtrl">
                <a class="navbar-brand accessopolis-header-logo" href="#/">Accessopolis</a>

                <div class="accessopolis-section-profile">
                    <button ng-hide-auth="" data-ng-controller="LoginCtrl"  class="btn btn-primary btn-lg pull-right"  ng-click="oauthLogin('google')" >Accedi con Google</button>

                    <div class="accessopolis-section-profile-auth" ng-show-auth=""  >
                        <div class="accessopolis-profile-avatar" style='background-image: url("{{user.google.cachedUserProfile.picture}}");'>
                           <span class="fa fa-user"></span>
                       </div>
                       <div class="accessopolis-profile-name" >
                           <a href="{{user.google.cachedUserProfile.link}}" target="_blank" style="margin-top: -12px;">
                               {{user.google.displayName}}
                           </a>
                           <div data-ng-controller="AccountCtrl" style="margin-top: -10px;">
                               <button role="button" ng-click="logout()" class="btn btn-danger btn-xs">Log Out</button>
                           </div>
                       </div>



                    </div>
                </div>
            </div>

        </div>

    </div>
    <div ng-view=""></div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the <a href="https://voxxeddays.com/ticino16" target="_blank">Voxxed Days Ticino</a> team and Exteso Sagl</p>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/numeral/numeral.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/angularfire/config.js"></script>
        <script src="scripts/angularfire/firebase.ref.js"></script>
        <script src="scripts/controllers/chat.js"></script>
        <script src="scripts/filters/reverse.js"></script>
        <script src="scripts/angularfire/auth.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/account.js"></script>
        <script src="scripts/controllers/category.js"></script>
        <script src="scripts/directives/ngShowAuth.js"></script>
        <script src="scripts/directives/ngHideAuth.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/feature/navigation/navigation-module.js"></script>
        <script src="scripts/feature/search/search-module.js"></script>
        <script src="scripts/feature/detail/detail-module.js"></script>
        <script src="scripts/feature/rating/rating-module.js"></script>
        <!-- endbuild -->
</body>
</html>
