<div class="container accessopolis-bg-white" style="margin-top: 30px; margin-bottom: 30px">
    <div class="">
        <div class="page-header">
            <h1 data-translate>accessopolis.insert-new-location</h1>
        </div>
        <form name="newLocationForm" data-ng-submit="apNewLocation.save(newLocationForm)" novalidate class="form">

            <div class="form-group">
                <label data-translate for="description">accessopolis.location.description</label>
                <input type="text" class="form-control" name="text" data-ng-model="apNewLocation.location.text" id="description" required="required" minlength="4"/>
                <div class="text-danger" data-ng-messages="newLocationForm.text.$error" data-ng-if="newLocationForm.text.$touched">
                    <p data-ng-message="minlength"><span translate="accessopolis.error.minlength"></span></p>
                    <p data-ng-message="required"><span translate="accessopolis.error.required"></span></p>
                </div>
            </div>

            <div class="form-group">
                <label data-translate for="type">accessopolis.location.type</label>
                <select name="type" class="form-control" data-ng-model="apNewLocation.location.type" data-ng-options="item as item for item in apNewLocation.subtypes" id="type" required="required"></select>
                <div class="text-danger" data-ng-messages="newLocationForm.type.$error" data-ng-if="newLocationForm.type.$touched">
                    <p data-ng-message="required"><span translate="accessopolis.error.required"></span></p>
                </div>
            </div>

            <div class="form-group">
                <label data-translate for="address">accessopolis.location.address</label>
                <input type="text" class="form-control" id="address" data-autocomplete-address name="address" data-ng-model="apNewLocation.location.address" required="required" minlength="5"/>
                <div class="text-danger" data-ng-messages="newLocationForm.address.$error" data-ng-if="newLocationForm.address.$touched">
                    <p data-ng-message="minlength"><span translate="accessopolis.error.minlength"></span></p>
                    <p data-ng-message="maxlength"><span translate="accessopolis.error.maxlength"></span></p>
                    <p data-ng-message="required"><span translate="accessopolis.error.required"></span></p>
                </div>
            </div>

            <div class="form-group">
                <label data-translate for="website">accessopolis.location.website</label>
                <input type="url" class="form-control" name="website" data-ng-model="apNewLocation.location.website" id="website"/>
                <div class="text-danger" data-ng-messages="newLocationForm.website.$error" data-ng-if="newLocationForm.website.$touched">
                    <p data-ng-message="url"><span translate="accessopolis.error.url"></span></p>
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-default" data-ng-click="apNewLocation.backToHome()" data-translate>accessopolis.cancel</button>
                <button type="submit" class="btn btn-success pull-right" data-translate>accessopolis.save</button>
                <div class="clearfix"></div>
            </div>

        </form>
    </div>
</div>
