
    <div class="accessopolis-ratings-item"  ng-if="ctrlRatings.rate.mobility">
        <div class="accessopolis-ratings-item-val" >
            {{ctrlRatings.rate.mobility}}
        </div>
        <div class="accessopolis-ratings-item-label" data-translate>accessopolis.accessibility-evaluation-mobility</div>
    </div>

    <div class="accessopolis-ratings-item"  ng-if="ctrlRatings.rate.hearing">
        <div class="accessopolis-ratings-item-val" >
            {{ctrlRatings.rate.hearing}}
        </div>
        <div class="accessopolis-ratings-item-label" data-translate>accessopolis.accessibility-evaluation-hearing</div>
    </div>

    <div class="accessopolis-ratings-item"  ng-if="ctrlRatings.rate.vision">
        <div class="accessopolis-ratings-item-val" >
            {{ctrlRatings.rate.vision}}
        </div>
        <div class="accessopolis-ratings-item-label" data-translate>accessopolis.accessibility-evaluation-mobility</div>
    </div>

    <div class="accessopolis-ratings-item"  ng-if="ctrlRatings.rate.mental">
        <div class="accessopolis-ratings-item-val" >
            {{ctrlRatings.rate.mental}}
        </div>
        <div class="accessopolis-ratings-item-label" data-translate>accessopolis.accessibility-evaluation-mental</div>
    </div>

