<h4>Filter by:</h4>
<ul class="list-inline accessopolis-navigation-bar-categories col-md-12 col-sm-12 col-xs-12" >

    <li data-ng-repeat="item in ctrl.items" data-ng-click="ctrl.displaySubMenu(item); "
        class="col-md-2 col-sm-3 col-xs-4"
        ng-class="{'accessopolis-navigation-bar-categories-item-evidence': ctrl.itemExpanded == item.$id }">
        <div class="accessopolis-navigation-bar-category-icon" >
            <span class="fa fa-camera"
                  ng-class="{'fa-train': item.text == 'public-transport',
                             'fa-suitcase ': item.text == 'holidays',
                             'fa-cutlery': item.text == 'food',
                             'fa-magic': item.text == 'religion',
                             'fa-soccer-ball-o': item.text == 'sport',
                             'fa-book': item.text == 'culture' }"></span>
        </div>
        <div class="accessopolis-navigation-bar-category-label">
            {{item.text | translate}}
        </div>



        <ul class="accessopolis-navigation-bar-sub-category"
            data-ng-if="ctrl.itemExpanded === item.$id" class="list-inline">
            <li data-ng-repeat="child in item.subcategory"
                data-ng-click="ctrl.showLocations(child, $event); ">
                <div  class="accessopolis-navigation-bar-sub-category-icon" >
                   <span class="fa fa-camera"
                         ng-class="{'fa-train': item.text == 'public-transport',
                             'fa-suitcase ': item.text == 'holidays',
                             'fa-cutlery': item.text == 'food',
                             'fa-magic': item.text == 'religion',
                             'fa-soccer-ball-o': item.text == 'sport',
                             'fa-book': item.text == 'culture'}"></span>
                </div>
                <div class="accessopolis-navigation-bar-sub-category-label" >{{child | translate}}</div>
            </li>
        </ul>

    </li>
</ul>


