
<ul class="list-inline accessopolis-navigation-bar-categories" >
    <li data-ng-repeat="item in ctrl.items" data-ng-click="ctrl.displaySubMenu(item)"
        style=" width: calc(100% / {{ctrl.items.length}});">

        <div class="accessopolis-navigation-bar-category-icon" >
            <span class="fa fa-camera"
                  ng-class="{'fa-train': item.text == 'public-transport',
                             'fa-suitcase ': item.text == 'holidays',
                             'fa-cutlery': item.text == 'food',
                             'fa-magic': item.text == 'religion'}"></span>
        </div>
        <div class="accessopolis-navigation-bar-category-label">
            {{item.text | translate}}
        </div>



        <ul class="accessopolis-navigation-bar-sub-category"
            data-ng-if="ctrl.itemExpanded === item.$id" class="list-inline">
            <li data-ng-repeat="child in item.subcategory"
                data-ng-click="ctrl.showLocations(child, $event); ">
                <div  class="accessopolis-navigation-bar-sub-category-icon" >
                    <span class="fa fa-camera"></span>
                </div>
                <div class="accessopolis-navigation-bar-sub-category-label" >{{child | translate}}</div>
            </li>
        </ul>

    </li>
</ul>
