
<div class="accessopolis-location" >

    <div class="accessopolis-location-icon">
        <span class="fa fa-bed"></span>
    </div>

    <div  class="accessopolis-location-data" >
        <div class="accessopolis-location-data-info">
            <h1 style="font-size: 1.8em;"  data-ng-click="ctrlLoc.showDetail()">{{ctrlLoc.location.text}}</h1>
            <button class="btn btn-danger btn-lg">Segnala un problema</button>
            <!--<div class="accessopolis-location-rating-item" ></div>-->
            <!--<div class="accessopolis-location-rating-item" ></div>-->
            <!--<div class="accessopolis-location-rating-item" ></div>-->
            <!--<div class="accessopolis-location-rating-item" ></div>-->
            <!-- span data-ng-click="ctrlLoc.showDetail()">type: {{ctrlLoc.location.type}} </span-->
        </div>

        <div class="accessopolis-location-data-rating" data-rating="ctrlLoc.location"></div>

    </div>
</div>
