
<div class="accessopolis-lacation" >

    <div class="accessopolis-lacation-icon">
        <span class="fa fa-bed"></span>
    </div>

    <div  class="accessopolis-lacation-data" >
        <div class="accessopolis-lacation-data-info">
            <h1 style="font-size: 1.8em;"  data-ng-click="ctrlLoc.showDetail()">{{ctrlLoc.location.text}}</h1>
            <span data-ng-click="ctrlLoc.showDetail()">type: {{ctrlLoc.location.type}} </span>
        </div>

        <div class="accessopolis-lacation-data-rating" data-rating="ctrlLoc.location"></div>

    </div>
</div>
