
<div class="accessopolis-location" >

    <div class="accessopolis-location-icon">


        <div class="fa fa-thumb-tack" style="width: 100%; height: 100%;  font-size: 6em; color: #d2d2d2; overflow: hidden;"
              ng-class="{'fa-coffee': ctrlLoc.location.type === 'bar',
                         'fa-bed': ctrlLoc.location.type === 'hotels',
                         'fa-beer': ctrlLoc.location.type === 'pub',
                         'fa-train': ctrlLoc.location.type === 'train-stations'}">
        </div>
    </div>

    <div  class="accessopolis-location-data" >
        <div class="accessopolis-location-data-info">
            <h1 style="font-size: 1.8em;"  data-ng-click="ctrlLoc.showDetail()">{{ctrlLoc.location.text}}</h1>

            <div class="accessopolis-location-data-rating-small visible-xs" data-rating="ctrlLoc.location"></div>

            <button class="btn btn-danger btn-lg hidden-xs">Segnala un problema</button>
            <button class="btn btn-danger btn visible-xs">Segnala un problema</button>
            <!--<div class="accessopolis-location-rating-item" ></div>-->
            <!--<div class="accessopolis-location-rating-item" ></div>-->
            <!--<div class="accessopolis-location-rating-item" ></div>-->
            <!--<div class="accessopolis-location-rating-item" ></div>-->
            <!-- span data-ng-click="ctrlLoc.showDetail()">type: {{ctrlLoc.location.type}} </span-->
        </div>

        <div class="accessopolis-location-data-rating hidden-xs" data-rating="ctrlLoc.location"></div>


    </div>
</div>
