<div class="accessopolis-search">
    <div class="accessopolis-search-field" >
        <div class="accessopolis-search-field-header">

        </div>

            <div class="accessopolis-search-box">
                <span class="accessopolis-search-icon"><i class="fa fa-search fa-2x"></i></span>
                <input type="text" data-ng-model="ctrl.searchParam" class="form-control input-lg" data-ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" placeholder="{{'accessopolis.search.suggestions' | translate}}">
                <div data-ng-if="ctrl.subcategorySelected">
                    <span class="sr-only" data-translate="accessopolis.selected.categories"></span>
                    <span class="badge accessopolis-badge"><a href="#" data-ng-click="ctrl.clearSubcategory($event)"><i class="fa fa-close"></i></a> {{ctrl.subcategorySelected | translate}}</span>
                </div>
            </div>

        <button class="accessopolis-search-field-btn btn btn-primary btn-sm sr-only" data-ng-click="ctrl.performSearch()" >search</button>
    </div>

    <div class="accessopolis-search-result_list" >
        <div data-ng-repeat="result in ctrl.resultList" class="accessopolis-search-result_list">
            <div data-location="result"></div>
        </div>
        <div ng-data-ng-if="ctrl.showInsertButton()" class="text-center alert alert-info">
            <h1 data-translate>accessopolis.location.not-found</h1>
            <a href="#/new-location" class="btn btn-lg btn-success" ng-show-auth=""><i class="fa fa-plus"></i> <span data-translate>accessopolis.location.new</span></a>
        </div>
    </div>
</div>
