<div class="modal-header">
    <h3 class="modal-title">Photos</h3>
</div>

<div class="modal-body">
    <carousel interval="ctrl.myInterval" no-wrap="ctrl.noWrapSlides">
        <slide ng-repeat="img in ctrl.images" >
            <img ng-src="{{img.imageUrl}}" style="margin:auto; height: 400px;">
            <div class="carousel-caption">
                <h4>{{img.imageType}}</h4>
                <p>{{img.description}}</p>
            </div>
        </slide>
    </carousel>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$close()">Close</button>
</div>
